export(GBS)
export(GBS_custom)
export(diagnosis)
export(GBS_Sampling)
export(post_process)
importFrom(reticulate,py_module_available)
importFrom(reticulate,source_python)
importFrom(reticulate,py_available)
importFrom(reticulate,py_config)
useDynLib(GBS, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
